@-webkit-keyframes icon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-22px);
            transform: translateY(-22px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes icon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-22px);
            transform: translateY(-22px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes social {
  0% {
    top: 123%;
    left: -180%;
  }
  75% {
    top: -123%;
    left: 20%;
  }
  100% {
    top: -10%;
    left: -50%;
  }
}

@keyframes social {
  0% {
    top: 123%;
    left: -180%;
  }
  75% {
    top: -123%;
    left: 20%;
  }
  100% {
    top: -10%;
    left: -50%;
  }
}

.menu {
  position: fixed;
  top: 0;
  right: 100vw;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu.active-menu {
  right: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu .links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.menu .links a {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 7px auto;
  position: relative;
}

.menu .links a::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: transparent;
  z-index: 1;
  border-bottom: 2.5px solid #000;
}

.menu .links a:hover::after {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

@media all and (min-width: 720px) {
  .menu .links a {
    font-size: 1.8em;
    margin: 10px auto;
    letter-spacing: 1.5px;
  }
}

nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 0px 7px 10px;
  background-color: #f7ca18;
}

nav .logo {
  width: 30px;
  height: 30px;
  background: #fff;
}

nav .toggle {
  width: 70px;
  height: 45px;
  cursor: pointer;
  border: none;
  border-radius: 0 0 0 30px;
  position: relative;
}

nav .toggle span {
  display: block;
  width: 35px;
  height: 5.3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #000;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .toggle span:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) translateY(-12px);
          transform: translate(-50%, -50%) translateY(-12px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .toggle span:nth-child(4) {
  -webkit-transform: translate(-50%, -50%) translateY(12px);
          transform: translate(-50%, -50%) translateY(12px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .toggle.active span:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) translateY(-33px);
          transform: translate(-50%, -50%) translateY(-33px);
  opacity: 0;
}

nav .toggle.active span:nth-child(4) {
  -webkit-transform: translate(-50%, -50%) translateY(33px);
          transform: translate(-50%, -50%) translateY(33px);
  opacity: 0;
}

nav .toggle.active span:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

nav .toggle.active span:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.first {
  background-color: #f7ca18;
  padding: 250px 30px 200px 30px;
  text-transform: uppercase;
  position: relative;
}

.first .text {
  border-left: 3px solid #fff;
  padding-left: 20px;
  position: relative;
}

.first .text h1 {
  width: 60%;
  font-size: 2.4em;
  margin: 0;
}

.first .text h2 {
  width: 70%;
  margin-top: 10px;
  font-weight: 300;
}

.first .icon {
  font-size: 2.5em;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 3;
  -webkit-animation: icon 1.5s ease-out infinite;
          animation: icon 1.5s ease-out infinite;
}

.first .icon a {
  color: #fff;
  cursor: pointer;
}

@media all and (min-width: 1000px) {
  nav .toggle {
    display: none;
  }
  nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    position: static;
    background: transparent;
  }
  nav .menu .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5px 20px 5px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  nav .menu .links a {
    margin: 5px 27px;
    font-weight: bold;
    font-size: 1.1em;
    position: relative;
  }
  nav .menu .links a::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: transparent;
    z-index: 1;
    border-bottom: 2px solid #000;
  }
  nav .menu .links a:hover::after {
    width: 100%;
    -webkit-transition: .3s;
    transition: .3s;
  }
  nav .menu .links .active::after {
    width: 100%;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .first .text h1 {
    width: 80%;
    font-size: 4em;
  }
  .first .text h2 {
    font-size: 2em;
  }
  .first .icon {
    font-size: 3.5em;
    margin-bottom: -75px;
  }
}

.second {
  padding: 50px 30px 80px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.second .header {
  margin: 50px auto 50px auto;
  position: relative;
}

.second .header::after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 60%;
  height: 100%;
  background: #f7ca18;
  z-index: -1;
}

.second .header h2 {
  text-transform: uppercase;
  font-size: 2.1rem;
  margin: 0;
}

.second .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 40px auto;
}

.second .info .image {
  width: 335px;
  height: 490px;
  margin: 10px auto;
  position: relative;
  z-index: 3;
}

.second .info .image img {
  width: 100%;
  height: 100%;
}

.second .info .image::after {
  position: absolute;
  content: '';
  top: -15px;
  left: -15px;
  width: 100%;
  height: 100%;
  background: #f7ca18;
  z-index: -2;
}

.second .info .description {
  margin-top: 50px;
  padding: 0 20px;
  border-left: 3px solid #f7ca18;
  width: 350px;
  line-height: 27px;
}

.second .info .description h3 {
  font-size: 2.2em;
  font-weight: bold;
  margin: 8px 0 25px 0;
}

@media all and (max-width: 500px) {
  .second .info .description {
    width: 100%;
  }
}

@media all and (min-width: 824px) {
  .second {
    margin-top: 0px;
  }
  .second .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding: 40px 60px;
  }
  .second .info .description {
    font-size: 1em;
    margin: 0 40px;
  }
}

@media all and (min-width: 1000px) {
  .second .info .description {
    width: 45%;
  }
}

@media all and (min-width: 1365px) {
  .second {
    margin-top: -70px;
  }
  .second .info .description {
    font-size: 1.1em;
  }
}

.third {
  background-color: #f7ca18;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.third .header {
  margin: 10px auto 50px auto;
  position: relative;
}

.third .header::after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 60%;
  height: 100%;
  background: #fff;
  z-index: 2;
}

.third .header h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.1rem;
  z-index: 3;
  position: relative;
  margin: 0;
}

.third .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.third .info #grid {
  position: relative;
  width: 78%;
  margin: 20px auto;
  padding: 0;
}

.third .info #grid li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0;
  -webkit-transform: rotate(-60deg) skewY(30deg);
          transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;
}

.third .info #grid li * {
  visibility: visible;
}

.third .info #grid li .hexagon {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  -webkit-transform: skewY(-30deg) rotate(60deg);
          transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  font-size: 3em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third .info #grid li .hexagon:hover {
  opacity: 0.5;
  -webkit-transition: .3s;
  transition: .3s;
}

.third .info #grid li .hexagon .fa-html5 {
  color: #E44D26;
}

.third .info #grid li .hexagon .fa-css3-alt {
  color: #379AD6;
}

.third .info #grid li .hexagon .fa-js {
  color: #F0DB4F;
}

.third .info #grid li .hexagon .fa-database {
  color: #035976;
}

.third .info #grid li .hexagon .fa-sass {
  color: #CE679A;
}

.third .info #grid li .hexagon .fa-vuejs {
  color: #3FB984;
}

.third .info #grid li .hexagon .fa-npm {
  color: #D60000;
}

.third .info #grid li .hexagon .fa-node-js {
  color: #6DA75D;
}

.third .info #grid li .active {
  opacity: 0.5;
  -webkit-transition: .3s;
  transition: .3s;
}

.third .info #grid li:nth-child(3n+2) {
  margin: 0 1%;
}

.third .info #grid li:nth-child(6n+4), .third .info #grid li:nth-child(6n+5), .third .info #grid li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
          transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

.third .info #grid li:nth-child(6n+4) {
  margin-left: 0.5%;
}

.third .info .clear:after {
  content: "";
  display: block;
  clear: both;
}

.third .info .desc {
  margin: 60px 30px 10px 30px;
  padding: 40px 25px;
  max-width: 90%;
  text-align: center;
  background: #fff;
  position: relative;
}

.third .info .desc h3 {
  font-size: 1.4rem;
}

.third .info .desc::after {
  position: absolute;
  content: '';
  top: -10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: -1;
}

@media all and (min-width: 600px) {
  .third .info #grid {
    font-size: 1.4em;
    width: 60vw;
  }
  .third .info .desc {
    width: 50vw;
    padding: 40px;
    font-size: 1.2em;
  }
}

@media all and (min-width: 1000px) {
  .third .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
    padding: 60px 80px;
  }
  .third .info #grid {
    width: 35vw;
  }
  .third .info .desc {
    margin-right: 140px;
    font-size: 1.1em;
    padding: 40px;
    width: 35vw;
  }
  .third .info .desc h3 {
    font-size: 1.5em;
  }
}

@media all and (min-width: 1365px) {
  .third .info .desc {
    margin-right: 180px;
  }
}

@media all and (min-width: 1865px) {
  .third .info #grid {
    font-size: 2em;
  }
}

.fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-bottom: 30px;
}

.fourth .header {
  margin: 30px auto;
  position: relative;
}

.fourth .header::after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 60%;
  height: 100%;
  background: #f7ca18;
  z-index: -1;
}

.fourth .header h2 {
  text-transform: uppercase;
  font-size: 2.1rem;
  margin: 0;
}

.fourth .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: 50px;
}

.fourth .projects .project {
  width: 75vw;
  min-height: 75vw;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 30px;
  position: relative;
}

.fourth .projects .project::after, .fourth .projects .project::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -5;
}

.fourth .projects .project:hover::after {
  top: -10px;
  left: 10px;
  -webkit-transition: .4s;
  transition: .4s;
  background: rgba(247, 202, 24, 0.7);
}

.fourth .projects .project:hover::before {
  top: -20px;
  left: 20px;
  -webkit-transition: .4s;
  transition: .4s;
  background: rgba(247, 202, 24, 0.5);
}

.fourth .projects .project:hover .description {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.fourth .projects .project .image {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../Gallery/front-image.jpg");
  z-index: 1;
}

.fourth .projects .project .incentive {
  position: absolute;
  content: '';
  top: auto;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  height: 10%;
  bottom: 0;
  color: #fff;
  font-size: 1em;
  text-align: center;
}

.fourth .projects .project .description {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7ca18;
  z-index: 2;
  opacity: 0;
  min-height: 100%;
  padding: 10px 7px;
}

.fourth .projects .project .description h3 {
  text-align: center;
  margin: 20px 10px;
  font-size: 1.3em;
  border-left: 2px solid #fff;
}

.fourth .projects .project .description .technologies {
  margin-left: 10px;
  padding-left: 15px;
  border-left: 2px solid #fff;
}

.fourth .projects .project .description .technologies ul {
  padding-left: 25px;
  margin-top: 8px;
  list-style-image: url("../../Gallery/list.png");
}

.fourth .projects .project .description .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.fourth .projects .project .description .buttons button {
  border: 0 none;
  background: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 0 10px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
}

.fourth .projects .project .description .buttons button:hover {
  background: #f7ca18;
  -webkit-transition: .3s;
  transition: .3s;
}

@media all and (min-width: 600px) {
  .fourth .header {
    margin: 20px;
  }
  .fourth .projects .project {
    width: 350px;
    min-height: 350px;
    font-size: 1.3em;
  }
  .fourth .projects .project .description .buttons {
    position: absolute;
    bottom: 30px;
    padding: 0 30px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fourth .projects .project .description .buttons button {
    margin: 0;
  }
}

@media all and (min-width: 850px) {
  .fourth .projects {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .fourth .projects .project {
    width: 300px;
    min-height: 300px;
    font-size: 1em;
  }
}

@media all and (min-width: 1150px) {
  .fourth .projects {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 40px;
  }
}

@media all and (min-width: 1365px) {
  .fourth .header {
    margin: 20px;
  }
}

.fifth {
  background: #f7ca18;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.fifth .header {
  margin: 10px auto 20px auto;
  position: relative;
}

.fifth .header::after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 60%;
  height: 100%;
  background: #fff;
  z-index: 1;
}

.fifth .header h2 {
  text-transform: uppercase;
  font-size: 2.1rem;
  margin: 0;
  position: relative;
  z-index: 3;
}

.fifth .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
}

.fifth .info .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
}

.fifth .info .form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-top: 30px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.fifth .info .form .inputs label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fifth .info .form .inputs label input,
.fifth .info .form .inputs label textarea {
  border: 0 none;
  width: 80%;
  margin: 7px;
  padding: 10px;
  text-transform: uppercase;
}

.fifth .info .form .inputs label input:focus,
.fifth .info .form .inputs label textarea:focus {
  border-bottom: 2px solid #000;
}

.fifth .info .form .inputs label textarea {
  height: 100px;
}

.fifth .info .form .inputs label .error {
  border-bottom: 2px solid red;
}

.fifth .info .form button {
  padding: 6px 35px;
  background: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #fff;
  margin: 30px;
  cursor: pointer;
}

.fifth .info .form button:hover {
  background: #f7ca18;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.fifth .info .socials {
  width: 100%;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fifth .info .socials div {
  width: 54px;
  height: 54px;
  font-size: 1.7em;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
}

.fifth .info .socials div::after {
  position: absolute;
  content: '';
  top: 123%;
  left: -150%;
  width: 200%;
  height: 100%;
  background: #fff;
  z-index: -2;
  height: 160%;
  -webkit-transform: rotate(-57deg);
          transform: rotate(-57deg);
}

.fifth .info .socials div:hover::after {
  -webkit-animation: social .7s ease-in-out both;
          animation: social .7s ease-in-out both;
}

.fifth .info .socials .facebook {
  background-color: #4267B2;
}

.fifth .info .socials .facebook:hover {
  color: #4267B2;
}

.fifth .info .socials .twitter {
  background-color: #1DA0F1;
}

.fifth .info .socials .twitter:hover {
  color: #1DA0F1;
}

.fifth .info .socials .instagram {
  background-color: #B43E88;
}

.fifth .info .socials .instagram:hover {
  color: #B43E88;
}

.fifth .info .socials .google {
  background-color: #EB4336;
}

.fifth .info .socials .google:hover {
  color: #EB4336;
}

@media all and (min-width: 860px) {
  .fifth .info .socials {
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .fifth .info .socials div {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  .fifth .info .form .inputs label textarea {
    height: 150px;
  }
}

@media all and (min-width: 1124px) {
  .fifth .info {
    padding: 20px 60px;
  }
  .fifth .info .form .inputs {
    width: 60%;
  }
  .fifth .info .form .inputs label input,
  .fifth .info .form .inputs label textarea {
    width: 70%;
    font-size: 1.1em;
    padding: 12px;
  }
  .fifth .info .form .inputs button {
    font-size: 1.1em;
  }
  .fifth .info .socials {
    width: 46%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.stop-scrolling {
  overflow: hidden;
}

* {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
  outline: 0 none;
}

svg {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

a {
  text-decoration: none;
  color: #000;
}

section {
  padding: 50px 0;
}

footer {
  padding-top: 40px;
}

@media all and (min-width: 600px) {
  .first .header h2,
  .second .header h2,
  .third .header h2,
  .fourth .header h2,
  .fifth .header h2 {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=main.css.map */