.work {
  @include flex(center, center);
  flex-flow: column wrap;
  padding-bottom: 30px;

  .header {
    margin: 30px auto;
    position: relative;

    &::after {
      @include pseudo(60%, 0, 50%, $main-color, -1);
    }

    &__title {
      text-transform: uppercase;
      font-size: 2.1rem;
      margin: 0;
    }
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;

    .project {
      width: 75vw;
      max-width: 310px;
      height: 75vw;
      max-height: 310px;
      justify-self: center;
      margin: 30px;
      position: relative;

      &:first-child .project__image {
        background-image: url("../Gallery/projekt1.PNG");
      }

      &:nth-child(2) .project__image {
        background-image: url("../Gallery/projekt2.PNG");
      }

      &:nth-child(3) .project__image {
        background-image: url("../Gallery/projekt3.PNG");
      }

      &:nth-child(4) .project__image {
        background-image: url("../Gallery/projekt4.PNG");
      }

      &:nth-child(4) .project__incentive {
        color: #fff;
      }

      &:nth-child(5) .project__image {
        background-image: url("../Gallery/projekt5.PNG");
      }

      &:nth-child(6) .project__image {
        background-image: url("../Gallery/projekt6.PNG");
      }

      &::after,
      &::before {
        @include pseudo(100%, 0, 0, transparent, -5);
      }

      &:hover::after {
        top: -10px;
        left: 10px;
        transition: 0.4s;
        background: rgba(247, 202, 24, 0.7);
      }

      &:hover::before {
        top: -20px;
        left: 20px;
        transition: 0.4s;
        background: rgba(247, 202, 24, 0.5);
      }

      &:hover .project__description {
        opacity: 1;
        transition: 0.3s;
      }

      &__image {
        @include pseudo(100%, 0, 0);
        background-position: center center;
        background-size: cover;
      }

      &__incentive {
        @include pseudo(100%, auto, 0);
        height: 10%;
        bottom: 0;
        color: #000;
        font-size: 1em;
        text-align: center;
      }

      &__description {
        position: absolute;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: $main-color;
        opacity: 0;
        min-height: 100%;
        padding: 10px 7px;

        &__title {
          text-align: center;
          margin: 20px 10px;
          font-size: 1.3em;
          border-left: 2px solid #fff;
        }

        &__technologies {
          margin-left: 10px;
          padding-left: 15px;
          border-left: 2px solid #fff;

          ul {
            padding-left: 25px;
            margin-top: 8px;
            list-style-image: url("../Gallery/list.png");
          }
        }

        &__buttons {
          width: 100%;
          @include flex(center, center);
          margin-top: 30px;

          button {
            border: 0 none;
            background: #fff;
            padding: 10px 30px;
            border-radius: 5px;
            margin: 0 10px;
            border: 2px solid #fff;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.8em;
            cursor: pointer;

            &:hover {
              background: $main-color;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 600px) {
  .work {
    .header {
      margin: 20px;
    }

    .projects {
      .project {
        width: 350px;
        min-height: 350px;
        font-size: 1.3em;

        .project__description .project__description__buttons {
          position: absolute;
          bottom: 30px;
          padding: 0 30px 0 20px;
          @include flex(space-around, center);

          button {
            margin: 0;
          }
        }
      }
    }
  }
}

@media all and (min-width: 850px) {
  .work {
    .projects {
      grid-template-columns: 1fr 1fr;

      .project {
        width: 300px;
        min-height: 300px;
        font-size: 1em;
      }
    }
  }
}

@media all and (min-width: 1150px) {
  .work .projects {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 40px;
  }
}

@media all and (min-width: 1365px) {
  .work {
    .header {
      margin: 20px;
    }
  }
}
