nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    @include flex(space-between, center);
    padding: 7px 0px 7px 10px;
    background-color: $main-color;

    .logo {
        width: 30px;
        height: 30px;
        background: #fff;
    }


    .toggle {
        width: 70px;
        height: 45px;
        cursor: pointer;
        border: none;
        border-radius: 0 0 0 30px;
        position: relative;

        span {
            display: block;
            width: 35px;
            height: 5.3px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #000;
            border-radius: 50px;
            transition: 0.3s;
        }

        span:nth-child(1) {
            transform: translate(-50%, -50%) translateY(-12px);
            transition: 0.3s;
        }

        span:nth-child(4) {
            transform: translate(-50%, -50%) translateY(12px);
            transition: 0.3s;
        }

    }


    .toggle.active span:nth-child(1) {
        transform: translate(-50%, -50%) translateY(-33px);
        opacity: 0;
    }

    .toggle.active span:nth-child(4) {
        transform: translate(-50%, -50%) translateY(33px);
        opacity: 0;
    }

    .toggle.active span:nth-child(2) {
        transform: translate(-50%, -50%) rotate(45deg);
        transition-delay: 0.2s;

    }

    .toggle.active span:nth-child(3) {
        transform: translate(-50%, -50%) rotate(-45deg);
        transition-delay: 0.2s;

    }

}

.first {
    background-color: $main-color;
    padding: 250px 30px 200px 30px;
    text-transform: uppercase;
    position: relative;


    .text {
        border-left: 3px solid #fff;
        padding-left: 20px;
        position: relative;


        h1 {
            width: 60%;
            font-size: 2.4em;
            margin: 0;
        }

        h2 {
            width: 70%;
            margin-top: 10px;
            font-weight: 300;

        }
    }

    .icon {
        font-size: 2.5em;
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 3;
        animation: icon 1.5s ease-out infinite;

        a {
            color: #fff;
            cursor: pointer;
        }
    }

}




@media all and (min-width:1000px) {
    nav {
        .toggle {
            display: none;

        }

        .menu {
            display: flex;
            height: auto;
            position: static;
            background: transparent;

            .links {
                @include flex(space-around, center);
                margin: 5px 20px 5px auto;
                flex-flow: row nowrap;

                a {
                    margin: 5px 27px;
                    font-weight: bold;
                    font-size: 1.1em;
                    position: relative;

                    &::after {
                        @include pseudo(0%, 0, 0);
                        border-bottom: 2px solid #000;
                    }

                    &:hover::after {
                        width: 100%;
                        transition: .3s;
                    }

                }

                .active::after {
                    width: 100%;
                    transition: .3s;
                }
            }
        }
    }

    .first {
        .text {


            h1 {
                width: 80%;
                font-size: 4em;
            }

            h2 {
                font-size: 2em;
            }
        }

        .icon {
            font-size: 3.5em;
            margin-bottom: -75px;
        }
    }
}