@use "./variables" as *;

.contact {
  background: $main-color;
  @include flex;
  flex-flow: column wrap;
  padding-bottom: 10px;

  .header {
    margin: 10px auto 20px auto;
    position: relative;

    &::after {
      @include pseudo(60%, 0, 50%, #fff, 1);
    }

    &__title {
      text-transform: uppercase;
      font-size: 2.1rem;
      margin: 0;
      position: relative;
      z-index: 3;
    }
  }

  .info {
    @include flex;
    flex-flow: column wrap;
    width: 100%;

    &__form {
      @include flex;
      flex-flow: column wrap;
      margin-top: 30px;
      width: 100%;
      font-family: "Montserrat", sans-serif;

      &__input {
        border: 0 none;
        width: 80%;
        margin: 7px;
        padding: 10px;
        text-transform: uppercase;
        max-width: 375px;

        &:focus {
          outline: 0 none;
          border-bottom: 3px solid $primary-black;
        }

        &--error {
          border-bottom: 2px solid red;
        }
      }

      &__textarea {
        height: 100px;
      }

      &__submit {
        padding: 6px 35px;
        background-color: $primary-white;
        text-transform: uppercase;
        font-weight: bold;
        border: 2px solid $primary-white;
        margin: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease-out;

        &:hover {
          background-color: $main-color;
          transition: background-color 0.3s ease-out;
        }
      }
    }

    &__socials {
      width: 100%;
      padding: 20px;
      max-width: 420px;
      @include flex(space-evenly);

      &__social {
        width: 57px;
        height: 57px;
        border-radius: 12px;
        font-size: 1.8rem;
        @include flex;
        position: relative;
        z-index: 1;
        overflow: hidden;
        cursor: pointer;
        color: $primary-white;

        &::after {
          @include pseudo(200%, 123%, -150%, $primary-white, -1);
          height: 160%;
          transform: rotate(-57deg);
          animation: socialOut 0.4s ease-in-out both;
        }

        &:hover::after {
          animation: socialIn 0.6s ease-in-out both;
        }
      }

      &__facebook {
        background-color: #4267b2;

        &:hover {
          color: #4267b2;
        }
      }

      &__twitter {
        background-color: #1da0f1;

        &:hover {
          color: #1da0f1;
        }
      }

      &__instagram {
        background-color: #e1306c;

        &:hover {
          color: #e1306c;
        }
      }

      &__github {
        background-color: #211f1f;

        &:hover {
          color: #211f1f;
        }
      }
    }
  }
  &__copyright {
    color: $primary-white;
  }
}

@media all and (min-width: 860px) {
  .contact {
    .info {
      padding: 20px 60px;
      &__form {
        &__input {
          max-width: 550px;
          font-size: 1.1rem;
          padding: 12px;
        }

        &__textarea {
          height: 150px;
        }

        &__submit {
          font-size: 0.95rem;
          padding: 8px 35px;
        }
      }

      &__socials {
        margin-bottom: 20px;
        margin-top: 40px;
        max-width: 600px;
        &__social {
          transform: scale(1.45);
        }
      }
    }
  }
}

@keyframes socialIn {
  0% {
    top: 123%;
    left: -180%;
  }

  75% {
    top: -123%;
    left: 20%;
  }

  100% {
    top: -10%;
    left: -50%;
  }
}

@keyframes socialOut {
  0% {
    top: -10%;
    left: -50%;
  }

  25% {
    top: -123%;
    left: 20%;
  }

  100% {
    top: 123%;
    left: -180%;
  }
}
