@use "./variables" as *;

.home {
  background-color: $main-color;
  padding: 250px 30px 200px 30px;
  text-transform: uppercase;
  position: relative;

  &__logo {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 15px;
    z-index: 999;

    &__image {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    border-left: 3px solid $primary-white;
    padding-left: 20px;

    &__name {
      width: 60%;
      font-size: 2.4rem;
      margin: 0;
    }

    &__title {
      width: 70%;
      margin-top: 13px;
      font-weight: 300;
    }
  }

  &__socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @include flex(flex-start);
    gap: 1.3rem;
    margin-top: 10px;
    margin-left: 25px;

    &__social {
      font-size: 1.4rem;
      span {
        transition: color 0.15s ease-out;

        &:hover {
          color: $primary-white;
        }
      }
    }
  }

  &__icon {
    font-size: 2.5rem;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 3;
    animation: icon 1.5s ease-out infinite;

    &__item {
      color: $primary-white;
      cursor: pointer;
    }
  }
}

@keyframes icon {
  0% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-22px);
  }

  100% {
    transform: translateY(0);
  }
}

@media all and (min-width: 700px) {
  .home {
    &__text {
      padding-left: 35px;
      margin-left: 30px;
      &__name {
        width: 80%;
        font-size: 3.2rem;
      }

      &__title {
        font-size: 1.7rem;
      }
    }

    &__socials {
      margin-left: 70px;
    }

    &__icon {
      font-size: 3.5rem;
      bottom: -20px;
    }
  }
}

@media all and (min-width: 1000px) {
  .home__logo {
    top: 12px;
    right: 23px;
  }
}

@media all and (min-width: 1700px) {
  .home {
    &__text {
      padding-left: 50px;
      margin-left: 40px;

      &__name {
        font-size: 4.7rem;
      }

      &__title {
        font-size: 2.7rem;
      }
    }

    &__socials {
      margin-left: 95px;
      gap: 1.6rem;

      &__social {
        font-size: 1.8rem;
      }
    }
  }
}
