@-webkit-keyframes icon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-22px);
            transform: translateY(-22px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes icon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-22px);
            transform: translateY(-22px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes social {
  0% {
    top: 123%;
    left: -180%;
  }
  75% {
    top: -123%;
    left: 20%;
  }
  100% {
    top: -10%;
    left: -50%;
  }
}

@keyframes social {
  0% {
    top: 123%;
    left: -180%;
  }
  75% {
    top: -123%;
    left: 20%;
  }
  100% {
    top: -10%;
    left: -50%;
  }
}

.nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px 5px 15px;
  background-color: #f7ca18;
}

.nav__logo {
  width: 40px;
  height: 40px;
}

.nav__logo__image {
  width: 100%;
  height: 100%;
}

.nav__hamburger {
  width: 70px;
  height: 45px;
  cursor: pointer;
  border: none;
  border-radius: 0 0 0 30px;
  position: relative;
}

.nav__hamburger__item {
  display: block;
  width: 35px;
  height: 5.3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #000;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__hamburger__item:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) translateY(-12px);
          transform: translate(-50%, -50%) translateY(-12px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__hamburger__item:nth-child(4) {
  -webkit-transform: translate(-50%, -50%) translateY(12px);
          transform: translate(-50%, -50%) translateY(12px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__hamburger--active span:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) translateY(-33px);
          transform: translate(-50%, -50%) translateY(-33px);
  opacity: 0;
}

.nav__hamburger--active span:nth-child(4) {
  -webkit-transform: translate(-50%, -50%) translateY(33px);
          transform: translate(-50%, -50%) translateY(33px);
  opacity: 0;
}

.nav__hamburger--active span:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav__hamburger--active span:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: #fff;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.menu--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.menu__links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__links__link {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.3rem;
  position: relative;
}

.menu__links__link::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border-bottom: 2.5px solid #000;
}

.menu__links__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media all and (min-width: 720px) {
  .menu__links__link {
    font-size: 1.8rem;
    line-height: 2.55rem;
    letter-spacing: 1.5px;
  }
}

@media all and (min-width: 1000px) {
  .nav__hamburger {
    display: none;
  }
  .nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    position: static;
    -webkit-transform: translate(0);
            transform: translate(0);
    background: transparent;
  }
  .nav .menu__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5px 20px 5px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .nav .menu__links__link {
    margin: 5px 27px;
    font-weight: bold;
    font-size: 1.1rem;
    position: relative;
  }
  .nav .menu__links__link::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    border-bottom: 2px solid #000;
  }
  .nav .menu__links__link:hover::after, .nav .menu__links__link--active::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

.home {
  background-color: #f7ca18;
  padding: 250px 30px 200px 30px;
  text-transform: uppercase;
  position: relative;
}

.home__text {
  border-left: 3px solid #fff;
  padding-left: 20px;
}

.home__text__name {
  width: 60%;
  font-size: 2.4em;
  margin: 0;
}

.home__text__title {
  width: 70%;
  margin-top: 10px;
  font-weight: 300;
}

.home__icon {
  font-size: 2.5em;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 3;
  -webkit-animation: icon 1.5s ease-out infinite;
          animation: icon 1.5s ease-out infinite;
}

.home__icon__item {
  color: #fff;
  cursor: pointer;
}

@media all and (min-width: 1000px) {
  .home__text__name {
    width: 80%;
    font-size: 4em;
  }
  .home__text__title {
    font-size: 2em;
  }
  .home__icon {
    font-size: 3.5em;
    margin-bottom: -75px;
  }
}

@media all and (min-width: 1700px) {
  .home__text {
    padding-left: 50px;
    margin-left: 20px;
  }
  .home__text__name {
    font-size: 5em;
  }
  .home__text__title {
    font-size: 2.7em;
  }
}

.about {
  padding: 50px 30px 80px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.about .header {
  margin: 50px auto 50px auto;
  position: relative;
}

.about .header::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 60%;
  height: 100%;
  background: #f7ca18;
  z-index: -1;
}

.about .header__title {
  text-transform: uppercase;
  font-size: 2.1rem;
  margin: 0;
}

.about .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 40px auto;
}

.about .info__image {
  width: 250px;
  height: 381px;
  margin: 10px auto;
  position: relative;
  z-index: 3;
}

.about .info__image img {
  width: 100%;
  height: 100%;
}

.about .info__image::after {
  position: absolute;
  content: "";
  top: -15px;
  left: -15px;
  width: 100%;
  height: 100%;
  background: #f7ca18;
  z-index: -2;
}

.about .info__description {
  margin-top: 50px;
  padding: 0 20px;
  border-left: 3px solid #f7ca18;
  width: 350px;
  line-height: 27px;
}

.about .info__description__title {
  font-size: 2.2em;
  font-weight: bold;
  margin: 8px 0 25px 0;
}

@media all and (max-width: 500px) {
  .info__description {
    width: 100%;
  }
}

@media all and (min-width: 824px) {
  .about {
    margin-top: 0px;
  }
  .about .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding: 40px 60px;
  }
  .about .info__description {
    font-size: 1em;
    margin: 0 40px;
  }
}

@media all and (min-width: 1000px) {
  .about .info__description {
    width: 45%;
  }
  .about .info__image {
    width: 335px;
    height: 511px;
  }
}

@media all and (min-width: 1365px) {
  .about {
    margin-top: -70px;
  }
  .about .info .info__description {
    font-size: 1.2em;
  }
}

.skills {
  background-color: #f7ca18;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.skills .header {
  margin: 10px auto 50px auto;
  position: relative;
}

.skills .header::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 60%;
  height: 100%;
  background: #fff;
  z-index: 2;
}

.skills .header__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.1rem;
  z-index: 3;
  position: relative;
  margin: 0;
}

.skills .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.skills .info__grid {
  position: relative;
  width: 80%;
  margin: 20px auto;
  padding: 0;
}

.skills .info__grid__field {
  list-style-type: none;
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0;
  -webkit-transform: rotate(-60deg) skewY(30deg);
          transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;
}

.skills .info__grid__field * {
  visibility: visible;
}

.skills .info__grid__field__hex {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  -webkit-transform: skewY(-30deg) rotate(60deg);
          transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  font-size: 3em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .info__grid__field__hex:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.skills .info__grid__field__hex .fa-html5 {
  color: #e44d26;
}

.skills .info__grid__field__hex .fa-css3-alt {
  color: #379ad6;
}

.skills .info__grid__field__hex .fa-js {
  color: #f0db4f;
}

.skills .info__grid__field__hex .fa-database {
  color: #035976;
}

.skills .info__grid__field__hex .fa-sass {
  color: #ce679a;
}

.skills .info__grid__field__hex .fa-vuejs {
  color: #3fb984;
}

.skills .info__grid__field__hex .fa-npm {
  color: #d60000;
}

.skills .info__grid__field__hex .fa-node-js {
  color: #6da75d;
}

.skills .info__grid__field--active {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.skills .info__grid__field:nth-child(3n + 2) {
  margin: 0 1%;
}

.skills .info__grid__field:nth-child(6n + 4), .skills .info__grid__field:nth-child(6n + 5), .skills .info__grid__field:nth-child(6n + 6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
          transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

.skills .info__grid__field:nth-child(6n + 4) {
  margin-left: 0.5%;
}

.skills .info__grid:after {
  content: "";
  display: block;
  clear: both;
}

.skills .info__desc {
  margin: 60px 30px 10px 30px;
  padding: 30px 20px;
  border-radius: 5px;
  width: 85%;
  max-width: 550px;
  text-align: center;
  background: #fff;
  position: relative;
  -webkit-box-shadow: white 0px 5px 15px;
          box-shadow: white 0px 5px 15px;
}

.skills .info__desc__title {
  font-size: 1.4rem;
}

@media all and (min-width: 600px) {
  .skills .info .info__grid {
    font-size: 1.4em;
    width: 60vw;
  }
  .skills .info .info__desc {
    width: 50vw;
    padding: 40px;
    font-size: 1.2em;
  }
}

@media all and (min-width: 1000px) {
  .skills .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
    padding: 60px 80px;
  }
  .skills .info .info__grid {
    width: 37vw;
  }
  .skills .info .info__desc {
    margin-right: 140px;
    font-size: 1.1em;
    padding: 40px;
    width: 35vw;
  }
  .skills .info .info__desc .info__title {
    font-size: 1.5em;
  }
}

@media all and (min-width: 1365px) {
  .skills .info .info__desc {
    margin-right: 180px;
  }
  .skills .info .info__grid {
    width: 30vw;
  }
}

@media all and (min-width: 1865px) {
  .skills .info .info__grid {
    font-size: 2em;
  }
  .skills .info .info__desc {
    width: 30vw;
    padding: 70px 100px;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-bottom: 30px;
}

.work .header {
  margin: 30px auto;
  position: relative;
}

.work .header::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 60%;
  height: 100%;
  background: #f7ca18;
  z-index: -1;
}

.work .header__title {
  text-transform: uppercase;
  font-size: 2.1rem;
  margin: 0;
}

.work .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: 50px;
}

.work .projects .project {
  width: 75vw;
  max-width: 310px;
  height: 75vw;
  max-height: 310px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 30px;
  position: relative;
  cursor: pointer;
}

.work .projects .project:first-child .project__image {
  background-image: url("../Gallery/projekt1.PNG");
}

.work .projects .project:nth-child(2) .project__image {
  background-image: url("../Gallery/projekt2.PNG");
}

.work .projects .project:nth-child(3) .project__image {
  background-image: url("../Gallery/projekt3.PNG");
}

.work .projects .project:nth-child(4) .project__image {
  background-image: url("../Gallery/projekt4.PNG");
}

.work .projects .project:nth-child(4) .project__incentive {
  color: #fff;
}

.work .projects .project:nth-child(5) .project__image {
  background-image: url("../Gallery/projekt5.PNG");
}

.work .projects .project:nth-child(6) .project__image {
  background-image: url("../Gallery/projekt6.PNG");
}

.work .projects .project::after, .work .projects .project::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -5;
}

.work .projects .project:hover::after {
  top: -10px;
  left: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: rgba(247, 202, 24, 0.7);
}

.work .projects .project:hover::before {
  top: -20px;
  left: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: rgba(247, 202, 24, 0.5);
}

.work .projects .project:hover .project__description {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.work .projects .project__image {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  background-position: center center;
  background-size: cover;
}

.work .projects .project__incentive {
  position: absolute;
  content: "";
  top: auto;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  height: 10%;
  bottom: 0;
  color: #000;
  font-size: 1em;
  text-align: center;
}

.work .projects .project__description {
  position: absolute;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #f7ca18;
  opacity: 0;
  min-height: 100%;
  padding: 10px 7px;
}

.work .projects .project__description__title {
  text-align: center;
  margin: 20px 10px;
  font-size: 1.3em;
  border-left: 2px solid #fff;
}

.work .projects .project__description__technologies {
  margin-left: 10px;
  padding-left: 15px;
  border-left: 2px solid #fff;
}

.work .projects .project__description__technologies ul {
  padding-left: 25px;
  margin-top: 8px;
  list-style-image: url("../Gallery/list.png");
}

.work .projects .project__description__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.work .projects .project__description__buttons button {
  border: 0 none;
  background: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 0 10px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
}

.work .projects .project__description__buttons button:hover {
  background: #f7ca18;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media all and (min-width: 600px) {
  .work .header {
    margin: 20px;
  }
  .work .projects .project {
    width: 350px;
    min-height: 350px;
    font-size: 1.3em;
  }
  .work .projects .project .project__description .project__description__buttons {
    position: absolute;
    bottom: 30px;
    padding: 0 30px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work .projects .project .project__description .project__description__buttons button {
    margin: 0;
  }
}

@media all and (min-width: 850px) {
  .work .projects {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .work .projects .project {
    width: 300px;
    min-height: 300px;
    font-size: 1em;
  }
}

@media all and (min-width: 1150px) {
  .work .projects {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 40px;
  }
}

@media all and (min-width: 1365px) {
  .work .header {
    margin: 20px;
  }
}

.contact {
  background: #f7ca18;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-bottom: 10px;
}

.contact .header {
  margin: 10px auto 20px auto;
  position: relative;
}

.contact .header::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 60%;
  height: 100%;
  background: #fff;
  z-index: 1;
}

.contact .header__title {
  text-transform: uppercase;
  font-size: 2.1rem;
  margin: 0;
  position: relative;
  z-index: 3;
}

.contact .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
}

.contact .info__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
}

.contact .info__form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-top: 30px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.contact .info__form__inputs__label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .info__form__inputs__label input,
.contact .info__form__inputs__label textarea {
  border: 0 none;
  width: 80%;
  margin: 7px;
  padding: 10px;
  text-transform: uppercase;
}

.contact .info__form__inputs__label input:focus,
.contact .info__form__inputs__label textarea:focus {
  border-bottom: 2px solid #000;
}

.contact .info__form__inputs__label textarea {
  height: 100px;
}

.contact .info__form__inputs__label .--error {
  border-bottom: 2px solid red;
}

.contact .info__form__reset {
  padding: 6px 35px;
  background: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #fff;
  margin: 30px;
  cursor: pointer;
}

.contact .info__form__reset:hover {
  background: #f7ca18;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.contact .info__socials {
  width: 100%;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .info__socials__social {
  width: 54px;
  height: 54px;
  font-size: 1.7em;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
}

.contact .info__socials__social::after {
  position: absolute;
  content: "";
  top: 123%;
  left: -150%;
  width: 200%;
  height: 100%;
  background: #fff;
  z-index: -2;
  height: 160%;
  -webkit-transform: rotate(-57deg);
          transform: rotate(-57deg);
}

.contact .info__socials__social:hover::after {
  -webkit-animation: social 0.7s ease-in-out both;
          animation: social 0.7s ease-in-out both;
}

.contact .info__socials__facebook {
  background-color: #4267b2;
}

.contact .info__socials__facebook:hover {
  color: #4267b2;
}

.contact .info__socials__twitter {
  background-color: #1da0f1;
}

.contact .info__socials__twitter:hover {
  color: #1da0f1;
}

.contact .info__socials__instagram {
  background-color: #b43e88;
}

.contact .info__socials__instagram:hover {
  color: #b43e88;
}

.contact .info__socials__google {
  background-color: #eb4336;
}

.contact .info__socials__google:hover {
  color: #eb4336;
}

.contact__copyright {
  color: #fff;
}

@media all and (min-width: 860px) {
  .contact .info__socials {
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .contact .info__socials__social {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  .info__form__inputs__message {
    height: 150px;
  }
}

@media all and (min-width: 1124px) {
  .contact .info {
    padding: 20px 60px;
  }
  .contact .info__form__inputs {
    width: 60%;
  }
  .contact .info__form__inputs__label input,
  .contact .info__form__inputs__label textarea {
    width: 70%;
    font-size: 1.1em;
    padding: 12px;
  }
  .contact .info__form__inputs__reset {
    font-size: 1.1em;
  }
  .contact .info__socials {
    width: 46%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.--stop-scrolling {
  overflow: hidden;
}

* {
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
  outline: 0 none;
}

svg {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

a {
  text-decoration: none;
  color: #000;
}

section {
  padding: 50px 0;
}

footer {
  padding-top: 40px;
}

@media all and (min-width: 600px) {
  .home .header__title,
  .about .header__title,
  .skills .header__title,
  .work .header__title,
  .contact .header__title {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=main.css.map */